.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.rps {
  text-align: center;
  display: inline-block;

}

body {
  background-color: white;
}

h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #63B8EE;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color:black;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
